@charset "utf-8";
html {
  min-height: 100%;
}
body {
  position: relative;
  padding-bottom: 75px;
  min-height: 100%;
}
li {
  list-style: none;
}
p,
ul {
  margin: 0;
  padding: 0;
}
div,
li {
  box-sizing: border-box;
}
.navegacion_encabezado {
  background: linear-gradient(90deg, #fff 20%, rgba(0, 0, 0, 0.6) 60%);
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: stretch;
  position: fixed;
  top: 0;
  width: 100%;
}
.item_navegacion_global {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 0 20px;
}
.item_navegacion_global:hover {
  background: #fff;
  color: #42210b;
}
.navegacion_global {
  display: flex;
  align-items: stretch;
}
.logotipo {
  width: 120px;
  display: flex;
  align-items: center;
}
.logotipo img {
  width: 100%;
}
.seccion_interna {
  padding: 50px 10% 30px;
}
.seccion_1 {
  background: center / cover no-repeat url("../images/sample_menu_bg.jpg");
  background-size: 100%;
  background-attachment: fixed;
}
.clave {
  height: 500px;
  background: center / cover no-repeat url("../images/sample_key.jpg");
  font-family: "Noto Serif JP", serif;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center; /*Centrado vertical */
}

.clave h1 {
  font-size: 2.5rem;
}

.titulo_seccion {
  font-family: "Noto Serif JP", serif;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
}
.centrado {
  text-align: center;
}
.lista_menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.lista_menu_recomendado {
  padding-bottom: 50px;
}
.item_menu {
  width: 49%;
  display: flex;
  flex-direction: row-reverse;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  margin-bottom: 20px;
}
.contenido_item_menu {
  width: 45%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #fff;
}
.titulo_item_menu {
  font-size: 18px;
  font-family: "Noto Serif JP", serif;
}
.precio_item_menu {
  color: #42210b;
  font-size: 18px;
  text-align: right;
}
.imagen_item_menu {
  width: 55%;
  object-fit: cover;
  height: 300px;
}
.menu_cafe {
  background: #fff;
  padding: 20px;
}
.item_lista_cafe {
  width: 49%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 10px;
}
.contenido_menu_cafe {
  width: 80%;
  padding: 10px;
}
.imagen_menu_cafe {
  width: 20%;
  border-radius: 50%;
}
.concepto {
  display: flex;
  justify-content: space-between;
}
.contenido_texto {
  width: 60%;
}
.imagen_concepto {
  width: 35%;
  align-items: right;
}
.informacion {
  display: flex;
}
.titulo_informacion {
  width: 80px;
}
.marco_mapa {
  position: relative;
  width: 100%;
}

.pie_pagina {
  width: 100%;
  background: #251e19;
  position: absolute;
  bottom: -75px;
  padding-bottom: 10px;
  height: 75px;
}
.navegacion_pie {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.item_navegacion_pie {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  text-decoration: none;
  font-size: 15px;
}
.logotipo_pie {
  width: 80px;
}
.derechos_pie {
  color: white;
  text-align: center;
  font-size: 10px;
}
